CONFIG_SPIRAM=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_OV5647=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Enable ISP Pipeline Controller for automatic image quality optimization
CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y
CONFIG_ISP_PIPELINE_CONTROLLER_TASK_STACK_USE_PSRAM=y

# Enable IPA algorithms for brightness/exposure/color correction
CONFIG_ESP_IPA_IAN_ALGORITHM=y
CONFIG_ESP_IPA_ADN_ALGORITHM=y
CONFIG_ESP_IPA_AWB_ALGORITHM=y
CONFIG_ESP_IPA_ACC_ALGORITHM=y
CONFIG_ESP_IPA_AGC_ALGORITHM=y
CONFIG_ESP_IPA_AEN_ALGORITHM=y
